{{define "root"}}
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>CedBlog</title>
    </head>
    <body>
    {{template "content" .}}
    </body>
    
</html>
{{end}}